.btn-logout:hover {
    color: #f7f7f7 !important;
    border: 2px solid rgb(255, 255, 255) !important;
}
.container {
    max-width: 1200px !important;
}

.nav-link {
    font-weight: 500;
    color: #444 !important;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #f7f7f7 !important; 
}

.navbar {
    background-color: #85b431 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    min-height: 100px;
}

.navbar-brand {
    padding: 0 !important;
    margin: 0 !important;
}

.navbar-brand img {
    height: 100px;
    width: auto;
    object-fit: cover;
    display: block;
}

